/*   Theme default css */

/* ======font family=========
font-family: 'Helvetica Neue LT Pro';
*/

:root{
  --textColor: #7384C9;
  --gdColor: linear-gradient(99deg, #1484D1 , #002186);
}


body {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: var(--textColor);
  font-family: 'Helvetica Neue LT Pro';
}

body.overly {
    overflow: hidden;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
  text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}


ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}


.f-w100 {
  width: 100%;
}

.side-icon {
  position: fixed;
  display: flex;
  right: 0;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  max-width: 48px;
  flex-direction: column;
  gap: 3px;
}

.side-icon a {
    display: block;
}

/* default-css END 
================================== */





/*============header banner Area Start =============*/
.header-area {background: url(./himages/header-img/header-bg.png);background-size: cover;background-position: center;}
.header__info {display: flex;justify-content: space-between;background: #1C243B;padding: 0 50px;}

.header__info a {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info a img {height: 100%;object-fit: cover;}

.header__info > a {
    flex-shrink: 0;
}

.header__info ul {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.header-top {display: flex;justify-content: space-between;padding: 20px 50px 30px;align-items: center;}
.ht__left {display: flex;align-items: center;gap: 50px;width: 100%;}

.ht__left ul li a:hover {
    background: var(--gdColor);
    border-color: #091c52;
    color: #fff;
}

.ht__left ul {
    display: flex;
    gap: 10px;
}

.ht__left ul li a {
    display: flex;
    align-items: center;
    border: 1px solid var(--textColor);
    border-radius: 30px;
    height: 41px;
    width: 160px;
    justify-content: center;
    gap: 14px;
}

.ht__left ul li a:hover img {
    filter: brightness(21.5);
}

.ht__left ul li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 19px;
}

.ht__left ul li a i img {
    width: 100%;
}
.logo__area {flex-shrink: 0;max-width: 185px;}

.barBtn {
    display: none;
}
.ht__right {display: flex;gap: 10px;align-items: center;width: 100%;justify-content: end;}
.social__link {flex-shrink: 0;width: 100%;max-width: 200px;display: flex;align-items: center;}

.social__link li a i {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__link li a svg {
}

.social__link li a {
    width: 37px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.social__link li a:hover {
    background: #fff;
}

.fb svg {width: 17px;height: 17px;}

.fb:hover svg path {
    fill: #1773EA !important;
}
.teli svg {width: 18px;}

.teli:hover svg path {
    fill: #0099E4 !important;
}
.yt:hover svg path {fill: #FF0000 !important;}
.tx svg {width: 16px;}

.tx:hover svg path {
    fill: #000 !important;
}
.insta svg {width: 16px;}

.insta:hover svg path {
    fill: #000 !important;
}
.login__btns {display: flex;align-items: center;gap: 10px;}

.login__btns {}

.login__btns li a {
    display: flex;
    align-items: center;
    width: 180px;
    height: 42px;
    justify-content: center;
    gap: 16px;
    background: linear-gradient(99deg, #1484D1 , #002186);
    color: #fff;
    border-radius: 26px;
    font-weight: 700;
    font-style: italic;
}

.login__btns li a:hover {
  background-image: url(./himages/header-img/ht-top-bg.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px #205F93;
}

.Yap__btn {
    background: none !important;
    border: 1px solid var(--textColor);
    color: var(--textColor) !important;
}

.Yap__btn i {
    width: 29px !important;
    height: 30px !IMPORTANT;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__btns li a i {
    width: 19px;
    height: 22px;
}
.main__menu {padding: 0 20px 10px;}

.main__menu ul {
    display: flex;
    align-items: center;
}

.main__menu ul li {
    width: 100%;
}

.main__menu ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 77px;
    justify-content: center;
    background: transparent;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    transition: all .3s;
    text-align: center;
}

.main__menu ul li a:hover {
    background: url(./himages/header-img/nav-btn-bg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0 0 20px #205F93;
}

.main__menu ul li a:hover img {
    filter: brightness(20.5);
}

.main__menu ul li a i {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__btm {display: flex;justify-content: space-between;padding: 0px 50px;border-top: 1px solid #fff3;padding-bottom: 5px;}

.header__btm ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 190px;
    gap: 10px;
    position: relative;
    overflow: hidden;
    border-left: 1px solid #fff2;
    border-right: 1px solid #fff2;
}

.header__btm ul li a:hover {
    color: #fff;
    background: linear-gradient(171deg, #62BCEA, #000E6E);
    border-right: 1px solid #0008;
}

.header__btm ul li a:hover img {
    filter: brightness(39.5);
}

.header__btm ul li a:before,.header__btm ul li a:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -3px;
    top: 0;
    background: linear-gradient(89deg, #0000008f, transparent);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.header__btm ul li a:after {
    left: auto;
    right: 0px;
    background: linear-gradient(270deg, #0000005e, transparent);
    border-radius: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    /* background: red; */
}

.header__btm ul li a i {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__btm ul li a i img {
    width: 100%;
    height: 100%;
}

.header__btm ul {
    display: flex;
    gap: 10px;
}
/*============header banner Area Start =============*/



/*============mobile__menu Area Start =============*/
.mobile__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #2b2b2b;
    z-index: 10;
    padding-top: 20px;
    max-width: 375px;
    margin-left: -400px;
    transition: all .3s ease-in-out;
}

.mobile__menu.sideBar {
    margin: 0;
}
.mobile__menu .main__menu{
    display: block;
}

.mobile__menu .main__menu ul {
    display: block;
}

.mobile__menu .main__menu ul a {flex-direction: row;justify-content: start;height: auto;font-size: 20px;padding: 14px;max-width: 250px;}
.mobile__menu .header__btm{
    display: block;
    padding: 10px 26px;
    margin-bottom: 40px;
    margin-top: 6px;
}

.mobile__menu .header__btm ul {
    flex-direction: column;
}

.mobile__menu .header__btm ul  a {
    font-size: 18px;
    padding: 7px 14px;
    border-radius: 9px;
    border: none;
    justify-content: start;
    gap: 14px;
    max-width: 220px;
}

.mobile__menu .header__btm ul a i {
    width: 20px;
    height: 20px;
}

.mobile__menu .header__btm ul a:after,.mobile__menu .header__btm ul a:before {
    display: none;
}

.mobile__menu .close_btn {
    position: absolute;
    max-width: 30px;
    right: 14px;
    top: 14px;
    filter: brightness(13.5) invert(1);
}
.mobile__menu .ht__left ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.mobile__menu {}

.mobile__menu .header-top {
    display: flex;
    padding: 24px 20px;
    box-sizing: border-box;
    margin: 0;
    width: 100% !important;
    gap: 20px;
}

.mobile__menu .header-top > div {
    width: 100%;
    gap: 0;
    display: block;
}

.mobile__menu ul.login__btns {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.mobile__menu ul.login__btns li {
    width: 100%;
}

.mobile__menu .social__link {
    margin-left: 20px;
}
/*============mobile__menu Area End =============*/

/*============banner Area Start =============*/
.banner-slider {
  padding: 60px 0 40px;
  background-size: cover;
  margin-top: -5px;
  background-size: cover;
  margin-bottom: -1px;
}



.banner-slider a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: auto;
  border-radius: 36px;
  overflow: hidden;
  max-width: 89%;
}

.navStyle .owl-nav {
  display: flex;
  max-width: calc(100% - 80px);
  justify-content: space-between;
  position: absolute;
  top: 46%;
  left: 40px;
  width: 100%;
  transform: translateY(-50%);
  max-width: 110%;
  left: -5%;
  width: 110%;
  z-index: 1;
  height: 0;
}

.navStyle .owl-nav button {
  width: 18px;
}

.dotStyle .owl-dot {
  width: 12px;
  height: 12px;
  background: #7384C9 !important;
  border-radius: 50%;
}

.dotStyle .owl-dot.active {
  width: 30px;
  border-radius: 10px;
}

.dotStyle .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 25px;
}

.banner-slider .owl-nav {
  max-width: calc(100% - 80px);
  left: 40px;
}

/*============banner Area End =============*/


/*============card Area Start =============*/

.card-area {
  padding: 100px 0;
}

.all-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.all-cards a {
  transition: all .3s;
}



.cards__blk{
    position: relative;
    text-align: center;
    border-radius: 24px;
    padding: 30px 0 40px;
    width: calc(20% - 15px);
    background-image: url(./himages/card-bg.png);
    background-size: cover;
    background-position: center;
    z-index: 4;
    transition: all .3s;
}



.cards__blk:hover {
    scale: 1.1;
}

.cards__blk:hover:before {
    opacity: 1;
}

.cards__blk::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./himages/card-bg-2.png);
    left: 0;
    top: 0;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    background-size: 127%;
    background-position: center;
    opacity: 0;
    background-repeat: no-repeat;
    transition: all .3s;
}

.cards__blk h4 {
    font-size: 24px;
    margin: 0;
}

.cards__blk h4 span {
    display: block;
    font-weight: 400;
}

.cards__blk a {
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 41px;
    width: 180px;
    border-radius: 30px;
    margin: auto;
    font-style: italic;
}

.cards__blk a:hover .play-bg {
    opacity: 1;
}

.cards__blk a:hover {
    color: #fff;
    border: none;
    background: var(--gdColor);
    box-shadow: 0 0 13px #44a5d8b8;
}

.cards__blk a img {
}

img.play-bg {
    position: absolute;
    left: 0;
    opacity: 0;
}

.cards__blk a i {
    width: 18px;
    height: 16px;
    position: relative;
}

.cards__blk > i {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.cards__blk::after {
    content: "";
    position: absolute;
    border-radius: 24px;
    border: 2px solid transparent;
    background: linear-gradient(124deg, #CDCDCD, #626262) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    width: calc(100% - 4px);
    height: calc(100% - 3px);
    left: 0;
    top: 0;
    pointer-events: none;
}

.cards__blk:hover:after {
  border: 2px solid transparent;
  background: linear-gradient(124deg, #979384, #B07A09) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/*============card Area End =============*/


/*============casino Area Start =============*/
.casino-area a.lg {
  display: block;
}

.casino-area a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.casino-area a img {
    height: 100%;
    object-fit: cover;
}

.casino-area {
  margin-bottom: 80px;
}
.casino__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 400px;
}
.casino__user {width: 30%;position: relative;border-radius: 30px;overflow: hidden;height: 100%;}

.casino__user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.casino__user img {
    height: 100%;
}

.casino__user a {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
    color: #fff;
    font-size: 25px;
    background: linear-gradient(17deg, rgba(1,48,131,1) 6%, rgba(4,9,20,1) 100%);
}
.casino__content {width: 70%;display: flex;border-radius: 30px;overflow: hidden;height: 400px;background: linear-gradient(17deg, rgba(1,48,131,1) 0%, rgba(4,5,9,1) 52%, rgba(17,93,174,1) 100%);}

.casino__content > i img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.casino__content a {
    width: max-content;
    border: 1px solid var(--textColor);
    height: 40px;
    width: 152px;
    border-radius: 30px;
    gap: 10px;
    font-size: 16px;
    margin-top: 100px;
}

.casino__content a img {
    max-width: 13px;
    object-fit: contain;
}

.casino__content > div {
    padding: 50px;
    width: 65%;
}

.casino__content p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 1.3;
}

.casino__content h4 {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.casino__content i {
    width: 50%;
}
/*============casino Area End =============*/


/*============gallery Area Start =============*/
.hpdrm-home-title {
  border-bottom: 1px solid #394E7C;
  padding-bottom: 15px;
}

.hpdrm-home-title-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hpdrm-home-title-left h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.hpdrm-home-title-left p {
    font-size: 20px;
}

.hpdrm-home-gallery {
  margin-bottom: 50px;
}

.hpdrm-home-gallery a {

position: relative;

display: flex;

align-items: center;

justify-content: center;

border-radius: 25px;

overflow: hidden;

transition: all .3s;

z-index: 9;
}

.hpdrm-home-gallery a:hover span {
    opacity: 1;
}

.hpdrm-home-gallery a:after {
    content: "";
}

.hpdrm-home-gallery a span {
    position: absolute;
    width: 100%;
    animation-range: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background: linear-gradient(17deg, rgba(1,48,131,.8) 6%, rgba(4,9,20,1) 100%);
    color: #fff;
    font-size: 22px;
    opacity: 0;
    transition: all .3s;
}

.hpdrm-home-gallery a span img {
    width: max-content;
    max-width: 35px;
}

.hpdrm-home-gallery a:hover {
  scale: 1.1;
  filter: drop-shadow(0px -1px 7px #0D2551);
}

.hpdrm-home-gallery a:hover img.hpdrm-home-gallery-hover {
  opacity: 1;
}

.hpdrm-home-gallery .owl-stage-outer {
  padding: 50px 11px;
  padding-right: 0;
  margin-right: -25px;
}

img.hpdrm-home-gallery-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s;
}

/*============gallery Area End =============*/


/*============footer Area End =============*/
.footer-area {color: #808080;}
.container {
}
.Ftop__nav {
}

.Ftop__nav ul {
    display: flex;
    justify-content: space-between;
}

.Ftop__nav ul li {
    width: 100%;
}

.Ftop__nav ul li:hover + li a {
    border: none;
}

.Ftop__nav ul li a {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-left: 1px solid;
    text-align: center;
}

.Ftop__nav ul li:first-child a {
    border: none;
}

.Ftop__nav ul li a:hover {
    filter: drop-shadow(-2px -3px 10px rgb(78 177 220 / 44%));
    border-radius: 10px;
    background: linear-gradient(164deg, rgba(78,177,220,1) 16%, rgba(0,16,112,1) 85%);
    color: #fff;
    border: none;
}

.Ftop__nav ul li a:hover + a {
    border: none;
}
.footer__nav {display: flex;justify-content: space-between;margin: 50px 0;}

.footer__nav {}

.footer__nav > ul > li > a {
    display: block;
    line-height: 1.5;
}

.footer__nav > ul > li > a:hover {
    color: #fff;
}

.footer__nav h5 {
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.footer__nav h5:after {
    content: "";
    width: 38px;
    height: 1px;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer__nav .social__link svg path {fill: #999a9c;}
.fb {
}
.cls-1 {
}
.teli {
}
.yt {
}
.tx {
}
.insta {
}
.brand-logo {margin-bottom: 80px;}

.brand-logo hr {
    opacity: .3;
    margin: 30px 0;
}

.brand-logo ul li {
    width: 100%;
}

.brand-logo ul li a {
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all .3s;
}

.brand-logo ul li a:hover {
    filter: brightness(1.5);
}

.brand-logo ul li a img {
    width: 100%;
    height: 100%;
}

.brand-logo ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer__apps {display: flex;border-bottom: 1px solid #fff5;padding-bottom: 30px;justify-content: space-between;align-items: center;}

.footer__apps__list {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    max-width: 710px;
}

.footer__apps__list h5 {
    font-size: 17px;
}

.footer__apps__list i {
    width: 40px;
    height: 1px;
    display: block;
    background: #5a5a5a;
    margin: 10px 0;
}

.qr__code {
    max-width: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.qr__code a {
    width: 100px;
}

.footer__apps ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.footer__apps ul li {
    width: 100%;
    max-width: 140px;
}

.footer__apps ul li a {
    display: flex;
    transition: all .3s;
}

.footer__apps ul li a:hover {
    filter: brightness(2.5);
}

.footer__apps ul {
    /* width: 100%; */
}
.f__logo {max-width: 235px;}
.footer__content {display: flex;align-items: center;gap: 100px;justify-content: space-between;margin: 10px 0;}

.footer__content p {
    max-width: 960px;
}

.footer__content a {
    flex-shrink: 0;
}

.footer__content a:first-child {
    width: 150px;
}

.footer__content a:last-child {
    max-width: 100px;
}
/*============footer Area End =============*/







/*============Responsive Area  started =============*/



/*Extra Big screen :1500px.+ */

@media (min-width: 1501px) and (max-width: 1600px){
    .ht__right .social__link {
        display: none;
    }
    
    .navStyle .owl-nav {
        width: 105%;
        left: -2%;
    }
    .banner-slider .owl-nav {
        max-width: calc(100% - 80px);
        left: 40px;
    }
    .navStyle .owl-nav img {
        filter: brightness(13.5);
    }
    
    .casino-area .container, .card-area .container, .gallery-area .container,.footer-area .container {
        padding: 0 50px;
    }
}

/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .navStyle .owl-nav{
    width: 106.5%;
    left: -3%;
}
.container {
  padding: 0 40px !important;
}
.ht__right .social__link {
    display: none;
}

.navStyle .owl-nav {
    width: 105%;
    left: -2%;
}
.banner-slider .owl-nav {
    max-width: calc(100% - 80px);
    left: 40px;
}
.navStyle .owl-nav img {
    filter: brightness(13.5);
}
.header__btm ul li a {
    width: auto;
    padding: 0 18px;
}

.ht__left {
    gap: 20px;
}

.logo__area {
    max-width: 120px;
}

.ht__left ul li a {
    width: 136px;
    height: 38px;
}

.login__btns li a {
    width: 152px;
    height: 38px;
    font-weight: 600;
}

.main__menu {
    padding: 0px 10px 10px;
}

.all-cards {
    gap: 16px;
}

.cards__blk > i {
    height: 120px;
    scale: .8;
}

.cards__blk a {
    width: 140px;
    height: 38px;
    gap: 10px;
}
.casino__content i {
    width: 60%;
}

.casino__item {
    height: 340px;
}

.casino__content {
    height: 100%;
}

.casino__content a {
    margin-top: 46px;
}

.brand-logo ul {
    gap: 20px;
}

}


@media (min-width: 992px) and (max-width: 1200px){
    .navStyle .owl-nav{
        width: 106.5%;
        left: -3%;
    }
    .container {
      padding: 0 40px !important;
    }
    .ht__right .social__link {
        display: none;
    }
    
    .navStyle .owl-nav {
        width: 106%;
        left: -2%;
    }
    .banner-slider .owl-nav {
        max-width: calc(100% - 40px);
        left: 20px;
    }
    .navStyle .owl-nav img {
        filter: brightness(13.5);
    }
    .header__btm ul li a {
        width: auto;
        padding: 0 15px;
        font-size: 13px;
    }
    
    .ht__left {
        gap: 20px;
    }
    
    .logo__area {
        max-width: 120px;
    }
    
    .ht__left ul li a {
        width: 120px;
        height: 34px;
        font-size: 13px;
        gap: 10px;
    }
    
    .login__btns li a {
        width: 128px;
        height: 34px;
        font-weight: 600;
        font-size: 12px;
        gap: 10px;
    }
    
    .main__menu {
        padding: 0px 5px 10px;
    }
    
    .all-cards {
        gap: 16px;
    }
    
    .cards__blk > i {
        height: 120px;
        scale: .8;
        margin: 30px 0;
    }
    
    .cards__blk a {
        width: 126px;
        height: 30px;
        gap: 10px;
        font-size: 12px;
    }
    .casino__content i {
        width: 60%;
    }
    
    .casino__item {
        height: 340px;
    }
    
    .casino__content {
        height: 100%;
    }
    
    .casino__content a {
        margin-top: 46px;
    }
    
    .brand-logo ul {
        gap: 20px;
    }
    .header__info {
        padding: 0 25px;
    }
    
    .header-top {
        padding: 20px 23px 30px;
    }
    
    .header__btm {
        padding: 0px 20px;
    }
    
    .header__btm ul li a i {
        width: 16px;
        height: 16px;
    }
    
    .main__menu ul li a {
        font-size: 13px;
    }
    
    .ht__left ul li a i {
        max-width: 15px;
    }
    
    .login__btns li a i {
        width: 14px;
        height: 16px;
    }
    
    .Yap__btn i {
        width: 24px !important;
        height: 24px ! IMPORTANT;
    }
    
    .cards__blk a i {
        width: 16px;
    }
    
    .cards__blk h4 {
        font-size: 18px;
    }
    
    .cards__blk {
        padding: 20px 0;
    }
    
    .card-area {
        padding: 60px 0;
    }
    
    .casino__content p {
        font-size: 16px;
    }
    
    .casino__user a {
        font-size: 16px;
        height: 60px;
    }
    
    .casino-slider.navStyle .owl-nav {
        left: -3%;
    }
    
    .hpdrm-home-title-left h3 {
        font-size: 24px;
    }
    
    .hpdrm-home-title-left p {
        font-size: 16px;
    }
    
    .footer__nav h5 {
        font-size: 14px;
    }
    
    .brand-logo ul li a {
        height: 37px;
    }
    
    .footer__apps ul {
        gap: 10px;
        justify-content: space-between;
    }
    
    .footer__apps {
        gap: 20px;
    }
    
    .f__logo {
        max-width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .navStyle .owl-nav{
        width: 106.5%;
        left: -3%;
    }
    .container {
      padding: 0 40px !important;
    }
    .ht__right .social__link {
        display: none;
    }
    
    .navStyle .owl-nav {
        width: 106%;
        left: -2%;
    }
    .banner-slider .owl-nav {
        max-width: calc(100% - 40px);
        left: 20px;
    }
    .navStyle .owl-nav img {
        filter: brightness(13.5);
    }
    .header__btm ul li a {
        width: auto;
        padding: 0 11px;
        font-size: 12px;
        gap: 7px;
    }
    
    .ht__left {
        gap: 20px;
        display: block;
    }
    
    .logo__area a {
        max-width: 120px;
    }

.logo__area .barBtn {
    display: block;
    max-width: 32px;
}

.logo__area {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    
    .ht__left ul li a {
    }
    
    .login__btns li a {
    width: auto;
    font-size: 14px;
    }
    
    .main__menu {
    display: none;
    }
    
    .all-cards {
        gap: 16px;
        flex-wrap: wrap;
    }
    
    .cards__blk > i {
        height: 120px;
        scale: .8;
        margin: 45px 0;
    }
    
    .cards__blk a {
        width: 126px;
        height: 30px;
        gap: 10px;
        font-size: 12px;
    }
    .casino__content i {
        width: 60%;
    }
    
    .casino__item {
        height: 230px;
    }
    
    .casino__content {
        height: 100%;
    }
    
    .casino__content a {
        margin-top: 16px;
        font-size: 14px;
        width: 130px;
        gap: 7px;
        height: 35px;
    }
    
    .brand-logo ul {
        gap: 10px;
    }
    .header__info {
        padding: 0 15px;
        gap: 53px;
    }
    
    .header-top {
        width: calc(100% - 40px);
        padding-right: 0;
        max-width: 100%;
        display: block;
        padding: 0;
        margin: 12px auto;
    }
    
    .header__btm {
        padding: 0px 20px;
    }
    
    .header__btm ul li a i {
        width: 16px;
        height: 16px;
    }
    
    .main__menu ul li a {
        font-size: 13px;
    }
    
    .ht__left ul li a i {
        max-width: 15px;
    }
    
    .login__btns li a i {
        width: 14px;
        height: 16px;
    }
    
    .Yap__btn i {
        width: 24px !important;
        height: 24px ! IMPORTANT;
    }
    
    .cards__blk a i {
        width: 16px;
    }
    
    .cards__blk h4 {
        font-size: 18px;
    }
    
    .cards__blk {
        padding: 20px 0;
        width: 30%;
    }
    
    .card-area {
        padding: 60px 0;
    }
    
    .casino__content p {
        font-size: 14px;
    }
    
    .casino__user a {
        font-size: 14px;
        height: 50px;
    }
    
    .casino-slider.navStyle .owl-nav {
        left: -3%;
    }
    
    .hpdrm-home-title-left h3 {
        font-size: 20px;
    }
    
    .hpdrm-home-title-left p {
        font-size: 15px;
    }
    
    .footer__nav h5 {
        font-size: 14px;
    }
    
    .brand-logo ul li a {
        height: 27px;
    }
    
    .footer__apps ul {
        gap: 10px;
        justify-content: space-between;
    }
    
    .footer__apps {
        gap: 30px;
    }
    
    .f__logo {
        max-width: 175px;
    }
    .ht__left ul {
        display: none;
    }
    
    ul.login__btns {
        display: none;
    }
    
    .header__info a img {
        width: 100%;
        height: 34px;
    }
    
    .header__btm ul {
        gap: 3px;
    }
    
    .header__btm ul li a:before, .header__btm ul li a:after {
        opacity: .6;
    }
    
    .banner-slider a {
        border-radius: 20px;
    }
    
    .dotStyle .owl-dot {
        width: 8px;
        height: 8px;
    }
    
    .dotStyle .owl-dots {
        gap: 5px;
    }
    
    .banner-slider {
        padding: 40px 0 30px;
    }
    
    .casino__user {
        border-radius: 20px;
    }
    
    .casino__content > div {
        padding: 20px;
    }
    
    .casino__content h4 {
        font-size: 20px;
    }
    
    .casino__content a img {
        max-width: 10px;
    }
    
    .navStyle .owl-nav button {
        width: 12px;
    }
    
    .casino-area {
        margin-bottom: 50px;
    }
    
    .hpdrm-home-gallery .owl-stage-outer {
        padding: 35px 11px;
    }
    
    .hpdrm-home-gallery {
        margin-bottom: 20px;
    }
    
    .Ftop__nav ul li a {
        font-size: 12px;
        height: 32px;
    }
    
    .Ftop__nav {
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .footer__nav {
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .brand-logo hr {
        margin: 16px 0;
    }
    
    .brand-logo {
        margin-bottom: 50px;
    }
    
    .qr__code {
        max-width: 45px !important;
    }
    
    .footer__apps__list i {
        margin: 5px 0;
    }
    
    .footer__apps__list {
        gap: 10px;
    }
    
    .footer__content {
        gap: 30px;
        margin-bottom: 20px;
    }
    
    .footer__content p {
        font-size: 13px;
    }
    
    .side-icon {
        max-width: 36px;
    }
}


@media  (max-width: 767px){
    .navStyle .owl-nav{
    max-width: 45px;
    position: unset;
    height: auto;
    margin: auto;
    }
    .container {
      padding: 0 24px !important;
    }
    .ht__right .social__link {
        display: none;
    }
    
    .header-top {
        width: calc(100% - 40px);
        padding-right: 0;
        max-width: 100%;
        display: block;
        padding: 0;
        margin:  auto;
        padding: 14px 0;
    }
    .banner-slider .owl-nav {
        max-width: calc(100% - 40px);
        left: 20px;
        position: unset;
        max-width: 45px;
        height: auto;
        margin: auto;
        transform: translateY(46px);
    }

.banner-slider .owl-dots {
    margin: 0;
}
    .navStyle .owl-nav img {
        /* filter: brightness(13.5); */
    }
    .header__btm ul li a {
    border: none;
    justify-content: start;
    }
    
    .ht__left {
    }
    
    .logo__area a {
        max-width: 105px;
    }

.logo__area {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo__area .barBtn {
    display: block;
    max-width: 32px;
}
    
    .ht__left ul li a {
        height: 34px;
        gap: 10px;
        width: 100%;
    }
    
    .login__btns li a {
        height: 34px;
        font-weight: 600;
        gap: 10px;
        font-size: 13px;
        width: 100%;
    }
    
    .main__menu {
    display: none;
    }
    
    .all-cards {
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .cards__blk > i {
        height: 120px;
        scale: .8;
        margin: 16px 0;
    }
    
    .cards__blk a {
        width: 126px;
        height: 30px;
        gap: 10px;
        font-size: 12px;
    }
    .casino__content i {
        width: 100%;
        height: 170px;
    }
    
    .casino__item {
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .casino__content {
        height: 100%;
        width: 100%;
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: max-content;
        margin: auto;
    }
    
    .casino__content a {
        margin-top: 16px;
        font-size: 14px;
        width: 130px;
        gap: 7px;
        height: 35px;
        margin-inline: auto;
    }
    
    .brand-logo ul {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__info {
        padding: 0 5px;
        gap: 53px;
    }
    
    .header-top {
    }
    
    .header__btm {
    display: none;
    }
    
    .header__btm ul li a i {
        width: 16px;
        height: 16px;
    }
    
    .main__menu ul li a {
    }
    
    .ht__left ul li a i {
        max-width: 15px;
    }
    
    .login__btns li a i {
        width: 14px;
        height: 16px;
    }
    
    .Yap__btn i {
        width: 24px !important;
        height: 24px ! IMPORTANT;
    }
    
    .cards__blk a i {
        width: 16px;
    }
    
    .cards__blk h4 {
        font-size: 16px;
    }
    
    .cards__blk {
        padding: 20px 0;
        width: 48%;
    }
    
    .card-area {
        padding: 60px 0;
    }
    
    .casino__content p {
        font-size: 14px;
        max-width: 301px;
        margin: auto;
        margin-bottom: 29px;
        padding: 0 20px;
    }
    
    .casino__user a {
        font-size: 14px;
        height: 50px;
    }
    
    .casino-slider.navStyle .owl-nav {
    margin-top: 37px;
    }
    
    .hpdrm-home-title-left h3 {
        font-size: 18px;
    }
    
    .hpdrm-home-title-left p {
        font-size: 14px;
    }
    
    .footer__nav h5 {
        font-size: 14px;
    }
    
    .brand-logo ul li a {
        height: 30px;
        width: 54px;
    }
    
    .footer__apps ul {
        gap: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__apps {
        gap: 30px;
        flex-direction: column;
    }
    
    .f__logo {
        max-width: 175px;
    }
    .ht__left ul {
        display: none;
    }
    
    ul.login__btns {
        display: none;
    }
    
    .header__info a img {
        width: 100%;
        height: 23px;
    }
    
    .header__btm ul {
        gap: 3px;
    }
    
    .header__btm ul li a:before, .header__btm ul li a:after {
        opacity: .6;
    }
    
    .banner-slider a {
        border-radius: 10px;
    }
    
    .dotStyle .owl-dot {
        width: 8px;
        height: 8px;
    }
    
    .dotStyle .owl-dots {
        gap: 5px;
    }
    
    .banner-slider {
        padding: 40px 0 53px;
    }
    
    .casino__user {
        border-radius: 20px;
        display: none;
        width: 0;
    }
    
    .casino__content > div {
        width: 100%;
        padding: 20px 0;
    }
    
    .casino__content h4 {
        font-size: 20px;
    }
    
    .casino__content a img {
        max-width: 10px;
    }
    
    .navStyle .owl-nav button {
        width: 10px;
    }
    
    .casino-area {
        margin-bottom: 50px;
    }
    
    .hpdrm-home-gallery .owl-stage-outer {
        padding: 35px 0px;
        margin: 0;
    }
    
    .hpdrm-home-gallery {
        margin-bottom: 20px;
    }
    
    .Ftop__nav ul li a {
        font-size: 14px;
        height: 32px;
        padding: 0 10px;
        border: none;
    }
    
    .Ftop__nav {
    }
    
    .footer__nav {
        flex-wrap: wrap;
        gap: 30px;
    }

.footer__nav ul:last-child {
    text-align: center;
    width: 100%;
}

.footer__nav ul:last-child h5 {}

.footer__nav ul:last-child h5:after {
    left: 50%;
    transform: translateX(-50%);
}
    
    .brand-logo hr {
        margin: 16px 0;
    }
    
    .brand-logo {
        margin-bottom: 50px;
    }
    
    .qr__code {
        max-width: 60px !important;
    }
    
    .footer__apps__list i {
        margin: 12px auto;
    }
    
    .footer__apps__list {
        gap: 22px;
        text-align: center;
    }
    
    .footer__content {
        gap: 18px;
        margin-bottom: 20px;
        flex-direction: column;
        text-align: center;
        margin-top: 25px;
    }
    
    .footer__content p {
        font-size: 13px;
    }
    
    .side-icon {
        max-width: 36px;
    }
    .header__info > a {
        display: none;
    }
    
    .header__info a {
        height: 32px;
    }
    
    .Ftop__nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .Ftop__nav ul li {
        width: auto;
    }
    
    .brand-logo ul li {
        width: auto;
    }
    
    .footer__nav ul:last-child .social__link {
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
    .hpdrm-container {
        background-size: cover;
        background-position: top;
    }
}